RewriteEngine on
RewriteCond %{HTTP_HOST} ^intuitionagencia.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.intuitionagencia.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) http://intuitionagencia.com/siniestros/public/$1 [L]